<header>
      <a href="/" class="logo">
        <img src="/a/logo.png" alt="YooYuu kommunizieren und organisieren werden eins" height="40px" >
      </a>
      <div class="suche-container hidden-desktop">
        <img src="/a/search.png" alt="Such-Icon" class="suche-icon">
        <form action="/search" class="suche" id="suche">
          <input type="text" id="search" placeholder="Suche" name="q" style="width: 100%;" autocomplete="off">
          <input type="submit" style="display: none" value="Suche">
        </form>
      </div>
</header>
<div class="search-preview-ajax"></div>
    <div class="index">
      <div class="search-top">
        <img src="a/yooyu-hilfe.png" width="235" height="96" alt=""/>
        <div class="suche-container-xl">
          <img src="/a/search.png" alt="Such-Icon" class="suche-icon-xl">
          <form action="/search" class="suche-xl" id="suche-xl" >
            <input type="text" id="searchxl" name="q" placeholder="Suche" autocomplete="off">
            <input type="submit" style="display: none" value="Suche">
          </form>
          <div class="search-preview"></div>
          <script>
            $('#searchxl').on('keyup', function(event){
                event.preventDefault();
                var input = $('#searchxl').val()
                if($('#searchxl').val().length > 0){
                  
                  $.ajax({
                          type: 'GET',
                          url: '/quicksearch',
                          data: $("#suche-xl").serialize(),
                          error: function(){
                            $('.search-preview').html('<a href="/search?q=' + input + '">Nach "' + input +'" suchen</a>');
                          }	
                  });
                  $('#search').val(input);
                }
            });
            
            $('#searchxl').focusout(function(event){
                if($('a' + ':hover').length) {
                    return;
                };
                $('.search-preview').html('');
            });
          </script>
        </div>
      </div>
      <div class="index-tutorial-container">
        <div class="index-tutorial-container-header">
          <h3>Tutorials</h3>
          <a href="/search?q=tutorials">Alle anzeigen</a>
          </div>
          <div class="index-container-inner slickxyz" >
            <% @tour.each do |tour| %>
              <a href="tour/<%= tour.path %>" class="preview">
                <div class="preview-inner">
                  <div>
                    <h4><%= tour.name %></h4><span>Dauer: <%= tour.est_time %>min</span>
                  </div>
                    <p><%= tour.description %></p>
                </div>
                <img class="lazy" data-src="<%= tour.image_url %>" alt="<%= tour.name %>">
              </a>
            <% end %>
        </div>
        <div class="index-tutorial-container-header">
          <h3>Fragen & Antworten</h3>
          <a href="/search?q=faq">Alle anzeigen</a>
        </div>
        <div class="index-container-inner slickxyz">
            <% @faqs.each do |question| %>
            <a href="/question/<%= question.id %>" class="preview">
              <div class="preview-inner qa">
                <div>
                  <h4><%= question.head %></h4>
                </div>
                  <p><%= question.body[0, 140] %><% if question.body.length > 140 %>...<% end %></p>
              </div>
              <img class="lazy" data-src="<%= question.thumbnail_url %>" alt="">
            </a>
            <% end %>
        </div>
        <div class="index-tutorial-container-header">
          <h3>Funktionen</h3>
          <a href="/search?q=funktionen">Alle anzeigen</a>
        </div>
        <div class="index-container-inner slickxyz" style="display: none">
            <% @tutorials.each do |question| %>
            <a href="/question/<%= question.id %>" class="preview">
              <div class="preview-inner qa">
                <div>
                  <h4><%= question.head %></h4>
                </div>
                  <p><%= question.body[0, 140] %><% if question.body.length > 140 %>...<% end %></p>
              </div>
              <img class="lazy" data-src="<%= question.thumbnail_url %>" alt="">
            </a>
            <% end %>
        </div>
      </div>
    </div>
    <script>
      $('.preview').mouseover(function(){
        $(this).children().toggleClass('hover');
      });
      $('.preview').mouseout(function(){
        $(this).children().toggleClass('hover');
      });

      $(window).scroll(function(){
        var scroll = $(this).scrollTop();
        var scale = scroll/1000 + 1;
        var opacity = 1 - scroll/350;
        $('.search-top').css('transform', 'scale(' + scale + ')');
        $('.search-top').css('opacity', opacity );
        if(scroll > 300) {
          $('.suche-container').removeClass('hidden-desktop');
          $('#searchxl').focusout();
        } else {
          $('.suche-container').addClass('hidden-desktop');
          $('.search-preview-ajax').html('');
          $('.search-preview-ajax').removeClass('active');
        };
      });
    </script>
    <script>
      $('.lazy').Lazy({
        // your configuration goes here
        scrollDirection: 'vertical',
        effect: 'fadeIn',
        visibleOnly: true,
        onError: function(element) {
            console.log('error loading ' + element.data('src'));
        }
        });
      
        $('.slickxyz').slick({
            dots: true,
            slidesToScroll: 1,
            slidesToShow: 1,
            variableWidth: true,
            speed: 300,
            slidesToShow: 1,
            lazyLoad: 'progressive',
            infinite: false
          });
      
      $('.suche-icon').on('click', function(){
              if(Modernizr.mq('only screen and (max-width: 768px)')){
                $('.suche-container').toggleClass('active');
                $('#search').focus();
              }
              if($('#search').val().length > 0){
                $.ajax({
                  type: 'GET',
                  url: '/ajax/search',
                  data: $("#suche").serialize(),
                  error: function(){
                    alert('Es ist ein Fehler aufgetretten! Bitte aktualisieren Sie die Seite und versuchen Sie es erneut.');
                  }	
							  });
              }
            });
          $('#search').focusout(function(event){
              if($('a' + ':hover').length) {
                  return;
              }
              $('.suche-container').removeClass('active');
              $('.search-preview-ajax').html('');
              $('.search-preview-ajax').removeClass('active');
              
          });
      
      $('#search').on('keyup', function(event){
        event.preventDefault();
        var input = $('#search').val()
        if($('#search').val().length > 0){
          $.ajax({
                  type: 'GET',
                  url: '/ajax/search',
                  data: $("#suche").serialize(),
                  error: function(){
                    $('.search-preview-ajax').html('<a href="/search?q=' + input + '">Nach "' + input +'" suchen</a>');
								    $('.search-preview-ajax').addClass('active');
                  }	
                });
        };
        $('#searchxl').val(input);
      });
    </script>