<table>
  <tr>
    <td>Betreff</td>
    <td><%= @betreff %></td>
  </tr>
  <tr>
    <td>Nachricht</td>
    <td><%= @nachricht %></td>
  </tr>
  <tr>
    <td>Organisation</td>
    <td><%= @organization %></td>
  </tr>
  <tr>
    <td>Benutzer</td>
    <td><%= @user_name %></td>
  </tr>
  <tr>
    <td>Betriebssystem</td>
    <td><%= @op_system %></td>
  </tr>
  <tr>
    <td>Arbeitsemail</td>
    <td><%= @email %></td>
  </tr>
</table>
