<table style="width: 100%">
  <tr style="width: 100%">
    <td style="width: 50%">Betreff</td>
    <td style="width: 50%"><%= @betreff %></td>
  </tr>
  <tr style="width: 100%" >
    <td style="width: 50%">Nachricht</td>
    <td style="width: 50%"><%= @nachricht %></td>
  </tr>
  <tr style="width: 100%" >
    <td style="width: 50%">Organisation</td>
    <td style="width: 50%"><%= @organization %></td>
  </tr>
  <tr style="width: 100%" >
    <td style="width: 50%">Benutzer</td>
    <td style="width: 50%"><%= @user_name %></td>
  </tr>
  <tr style="width: 100%" >
    <td style="width: 50%">Betriebssystem</td>
    <td style="width: 50%"><%= @op_system %></td>
  </tr>
  <tr style="width: 100%" >
    <td style="width: 50%">Arbeitsemail</td>
    <td style="width: 50%"><%= @email %></td>
  </tr>
</table>
